<ion-view view-title="About Plan Poker" class="about-page">
  <ion-content scroll="false" padding="true">

  <p>Planning poker, also called Scrum poker, is a consensus-based technique for estimating, mostly used to estimate effort or relative size of development goals in software development. In planning poker, members of the group make estimates by playing numbered cards face-down to the table, instead of speaking them aloud. The cards are revealed, and the estimates are then discussed. By hiding the figures in this way, the group can avoid the cognitive bias of anchoring, where the first number spoken aloud sets a precedent for subsequent estimates.</p>

  <p>To user this app for planning, choose a deck to see the cards it has. Tap on a card to display/choose it. Place your phone face down till the voting.</p>
    

  </ion-content>
</ion-view>